  <div>
    <img src="{{ product.featured_image | image_url: width:100 }}">
    <h3>{{ product.title }}</h3>
    <p>{{ product.price | money }}</p>
    <p>{{ product.description }}</p>
  </div>
  <form action="/cart/add" method="post" enctype="multipart/form-data">
    <select name="id">
    {% for variant in product.variants %}
    {% if variant.available == true %}
    <option value="{{variant.id}}"> {{ variant.title }}</option>
    {% else %}
    <option disabled="disabled"> {{ variant.title }} - sold out!</option>
    {% endif %}
    {% endfor %}
    </select>
    <input type="submit" name="add" id="add" value="Add to Cart" class="button">
  </form>